#property-creation-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#property-new-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}


#new-property-form-button-container {
    display: flex;
    gap: 15px;
}

#new-property-delete-confirm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px
}

#new-property-delete-buttons-container {
    display: flex;
    justify-content: space-around;
}

#property-creation-item-containter {
    display: flex;
    justify-content: space-between;
    width: 500px;
    gap: 25px;
    
}
#property-new-form > div > textarea{
    resize: none;
    width: 303px;
    height: 70px;
}

#property-new-form > div > input{
    width: 300px;
}

#property-creation-button-container {
    display: flex;
    gap: 25px;
}

.property-creation-buttons {
    justify-self: center;
    margin-right: 85px;
}
