#profile-full-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
}

#profile-user-info-container {
    display: flex;
    gap: 50px;
}

#profile-img-container{
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px 75px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 300px;
}

#profile-img {
    height: 175px;
    border-radius: 50%;
}

#profile-user-info-right {
    display: flex;
    flex-direction: column;
    width: 900px;
}

#profile-page-name {
    font-size: 45px;
    font-weight: 600;
    width: 100%;
    padding-bottom: 10px;
}

#profile-page-location {
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-weight: 600;
}

#profile-page-bio {
    padding-top: 15px;
    word-wrap: break-word;
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding-bottom: 25px;
}

#profile-reviews-by-user {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px
}


#profile-reviews-header {
    text-decoration: underline;
}

#profile-links-container {
    display: flex;
    gap: 15px;
}

#profile-link {
    text-decoration: none;
    font-weight: 600;
    color: rgb(227, 28, 95);
}

#profile-link:hover {
    text-decoration: underline;
}

#profile-review-property-picture {
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#profile-review-property-info {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
}
#profile-review-property-info:hover {
    text-decoration: underline;

}

#profile-reivew-full {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 25px;
    gap: 5px;
    
    
}

#profile-review-content {
    word-wrap: break-word;
}


.profile-edit-review-button {
    width: 240px;
    padding: 5px;
    }
