#splash-page-full-container {
    background-image: url('https://wallpaperaccess.com/full/4207573.jpg') ;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100vw;
    padding-bottom: 60px;
}

#splash-page-header {
    margin-top: 30px;
    color: white;
    height: 200px;

}

#splash-page-sub-header {
    color: white;
    font-size: 50px;
    font-weight: 800;
}

#splash-page-login-signup-div {
    display: flex;
    border: 1px white solid;
    background-color: rgb(44, 44, 44);
    opacity: .85;
    border-radius: 25px;
}

#login-signup-div-right {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight:900;
    padding-bottom: 50px;
    margin-top: 25px;
    gap: 15px;
    
}

#login-signup-div-left{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 25px;
    font-weight:900;
    padding-bottom: 50px;
    padding-top: 50px;
}

#login-signup-subheader {
    font-size: 17px;
}

#login-signup-modal-click {
    color: rgb(227, 28, 95);
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
}

#login-signup-modal-click:hover {
    text-decoration: underline;
}

#login-signup-div-left {
    background-color: rgb(44, 44, 44);
    opacity: .85;
    border-radius: 25px;
    border: 1px solid white;
}


#login-form {
    font-size: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#login-form-entry {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.login-form-last-entry {
    margin-bottom: 25px;
}

#login-form-button {
    align-self: center;
    width: 150px;
    padding: 6px;
    border-radius: 15px;
    background-color: rgb(245, 158, 52);
}

#login-form-button:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

#login-form-demo-header {
    align-self: center;
    font-size: 25px;
}

#login-form-button-demo {
    align-self: center;
    width: 150px;
    padding: 6px;
    border-radius: 15px;
    background-color: rgb(245, 158, 52);
}

#login-form-button-demo:hover {
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}

#signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#signup-form-entry {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}

.custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    background-color: rgb(227, 28, 95);
    color: white;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .custom-file-upload:hover{
    text-decoration: underline;
    box-shadow: 2px 2px 2px black;
  }

.pfp {
    display: none;
}

#signup-text-area {
    resize: none;
    width: 204px;
}

#signup-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: red;
}

.custom-file-upload {
    cursor: pointer;
}
