#home-page-full-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

#home-page-property-display-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    display: flex;
    gap: 35px;
    justify-content: center;

}

#home-single-property-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-decoration: none;
}

#single-home-property-image {
    object-fit: cover;
    width: 237px;
    height: 225px;
    vertical-align: bottom;
    border-radius: 20px;
}

#single-home-property-location {
    color: #222222;
    font-weight: bolder;
    font-size: 14px;
}

#single-home-property-title {
    color: grey;
    font-size: 12px;
    font-weight: 600;
}

#single-home-property-cost {
    color: #222222;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.50px;
    font-weight:900;
}

#single-home-property-cost > span {
    color: #222222;
    font-size: 12px;
    font-weight: 500;
}

#page-not-found {
    font-size: 50px;
    margin-top: 300px;
}
