#nav-bar-full-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 30px;
    width: 100vw;
}

#nav-bar-logo {
    height: 50px;
    margin-left: 200px;

}

#nav-bar-right-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 325px;
    margin-right: 200px;
    gap: 10px;
}

#nav-bar-profile-button {
    height: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#nav-bar-profile-button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

#nav-bar-drop-down {
    position: absolute;
    top: 63px;
    right: 205px;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
}

.nav-bar-drop-down-link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    width: 180px;
    padding: 10px;
    cursor: pointer;
}

.nav-bar-drop-down-link:hover {
    background-color: lightgray;
}

.nav-bar-link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    min-width: 110px;
    text-align: center;
}

.nav-bar-link:hover {
    text-decoration: underline;
}


#nav-bar-profile-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px lightgray solid;
    border-radius: 25px;
    padding: 3px;
    cursor: pointer;
}

#search-container {
    display: flex;
    gap: 10px;
    justify-self: center;
    align-self: center;
    margin-left: 225px;
}

#search-input {
    border-radius: 25px;
    padding: 5px;
    border: 1px solid grey;
    font-weight: 600;
    color: #000;
    
}

#search-input:focus{
    outline: none;
    border: 2px solid  rgb(227, 28, 95);
    
    
}

#search-submit-button {
    align-self: center;
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(227, 28, 95);
    color: white;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
